@font-face {
  font-family: "syne bold";
  src: url("../assets/fonts/Syne-Bold.woff") format("woff"),
       url("../assets/fonts/Syne-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "syne italic";
  src: url("../assets/fonts/Syne-Italic.woff") format("woff"),
       url("../assets/fonts/Syne-Italic.woff2") format("woff2");
}

body { 
	background: darkslategrey;
	padding-left: 50px;
}

p {
	color: honeydew;
	font-family: syne bold, Helvetica, Arial, sans-serif;
	font-size: 20px;
	width:400px;
}

pre{
	color: honeydew;

}

h1{
	color: powderblue;
	font-family: syne italic;
	font-size:20pt;

}

h3{
	color: powderblue;
	font-family: syne italic;
}

.link{
    font-family: syne bold;
    font-size: 10pt;
    color: lavender;
}

ul{
	color: powderblue;
}



