* {
	margin: 0;
	padding:0;
}

body {
/*	width: 1890px;
	height: 10000px;*/


}

/*background image
*/
	img {
		opacity: .2;
		position: fixed;
		
			}

/*boxes for letters
*/
	.letters {
		position: absolute;
		width: 1920px;
		top: 200px;
		/*transform: scale(2);*/
	}

	.bounding-box{
		width: 270px;
		height: 270px;
		/*background: rgba(0, 50, 50, .1);*/
		position: relative;
		display: inline-block;
		margin: -2px;
		/*border: 1px grey dashed;*/
		}

/*main shapes
*/
	.vert-stroke {
		width: 80px;
		height: 256px;
		background: #9D9CCA30;
		position: absolute;
		display: inline-block;
	}

	.horiz-stroke{
		width: 168px;
		height: 53px;
		background: #9D9CCA30;
		display: inline-block;
	}

	.small-horiz{
		width: 111px;
		height: 53px;
		background: #9D9CCA30;
		display: inline-block;
	}

	.r-triangle {
      width: 0;
      height: 0;
      border-bottom: 256px solid #9D9CCA30;
      border-right: 218px solid transparent;
      display: inline-block;
      position: absolute;
      top: 7px;
     /* left: 11px;*/
    }

    .small-circle-r{
    	width: 176px;
		height: 176px;
		border-radius: 50%;
		background: #9D9CCA30;
		display: inline-block;
		position: absolute;
		left: -8px;
    }
	
	.large-circle-o{
		width: 256px;
		height: 256px;
		border-radius: 50%;
		background: #9D9CCA30;
		position: absolute;
		top: 10px;
		/*left: 7px;*/
		display: inline-block;
	}

	.large-circle-g{
		width: 256px;
		height: 256px;
		border-radius: 50%;
		background: #9D9CCA30;
		position: absolute;
		display: inline-block;
	}

	.g-arm{
		width: 128px;
		height: 128px;
		position: absolute;
		background: #9D9CCA30;
		display: inline-block;
		bottom: 8px;
		right: 12px;
	}

	.s-top{
		width: 169px;
		height: 169px;
		border-radius: 50%;
		background: #9D9CCA30;
		display: inline-block;
	}

	.s-bottom{
		width: 192px;
		height: 192px;
		border-radius: 50%;
		background: #9D9CCA30;
		display: inline-block;
	}

	.k-triangle{
      width: 0;
      height: 0;
      border-left: 128px solid transparent;
      border-right: 128px solid transparent;
      border-bottom: 169px solid #9D9CCA30;
      display: inline-block;
      position: absolute;
      left: -47px;
    }

/*positioning
*/
	.first-stroke{
		top: 7px;
		/*left: 11px;*/
		position: absolute;
	}

	.last-stroke{
		top: 7px;
		right: 22px;
		position: absolute;
	}

	.middle-arm{
		/*left: 11px;*/
		top: 113px;
		position: absolute;
	}

	.top-arm{
		position: absolute;
		top: 7px;
		/*left: 11px;*/
	}

	.bottom-arm{
		position: absolute;
		bottom: 7px;
		/*left: 11px;*/
	}

	.h-two{
		position: absolute;
		top: 113px;
		right: 22px;
	}

	.center-stroke{
		position: absolute;
		top: 7px;
		left: 88px;
	}

	.t-left{
		position: absolute;
		top: 7px;
		/*left: 7px;*/
	}

	.t-right{
		position: absolute;
		top: 7px;
		right: 14px;
	}

	.k-top{
		transform: scaleX(-1) rotate(180deg);
		position: absolute;
		top: 7px;
	}






/*cut pieces
*/
	 .bounding-r-circle{
	 	width: 168px;
	 	height: 176px;
	 	position: absolute;
	 	top: 7px;
	 	/*left: 11px;*/
	 	overflow: hidden;
	}

	.bounding-s-top{
		width: 116px;
		height: 169px;
		overflow: hidden;
		position: absolute;
		top: -15px;
		left: 20px;
		transform: rotate(45deg);
	}

	.bounding-s-bottom{
		width: 132px;
		height: 192px;
		overflow: hidden;
		position: absolute;
		bottom: -16px;
		left: 45px;
		transform: rotate(225deg);
	}

	.bounding-g-circle{
		width: 207px;
		height: 263px;
		overflow: hidden;
		position: absolute;
		transform: rotate(19deg);
		top: -2px;
		left: 2px;
	}

	.bounding-k{
		width: 209px;
		height: 169px;
		overflow: hidden;
		position: absolute;
		bottom: 7px;
		/*left: 11px;*/
	}


/*kerning*/
	#s{
		margin-right: -60px;
		margin-left: -10px;
	}

	#h{
		margin-right: 13px;
	}

	#e{
		margin-right: -67px;
	}

	#g{
		margin-right: 25px;
	}

	#r{
		margin-right: -75px;
	}

	#o{
		margin-right: -10px;
	}

	#t{
		margin-right: 14px;
	}

	#k{
		margin-right: -12px;
	}

/*word spacing*/
	#sheer{
		padding-left: 100px;
		padding-bottom: 25px;
	}

	#grotesk{
		padding-left: 80px;
	}


/*

.small-circle{
	width: 215px;
	height: 215px;
	border-radius: 50%;
	background: #9D9CCA50;
	display: inline-block;
	position: relative;
	top: -208px;
	left: -103px;
}

.large-circle-b{
	width: 290px;
	height: 290px;
	border-radius: 50%;
	background: #9D9CCA50;
	display: inline-block;
	position: relative;
	left: -320px;
}*/



